{% extends 'shop/front/base.html.twig' %}

{% block body %}
    <section class="order_details section_gap">
        <div class="container text-center">
            <h3 class="title_confirmation">Your payment process has been cancelled.</h3>
            <a class="primary-btn" href="{{ path('shop') }}">Return to Shop</a>
        </div>
    </section>
{% endblock %}