{# templates/payment/cancel.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Payment Canceled
{% endblock %}

{% block body %}
    <h1>Payment Canceled</h1>
    <p>Sorry, your payment was canceled. If you wish, you can try again or select another hotel.</p>
{% endblock %}
