
{% extends 'shop/admin/base.html.twig' %}

{% block body %}
    <h1>Payment Cancelled</h1>
    <p>Your payment process has been cancelled.</p>
    <a href="{{ path('shop') }}" class="btn btn-primary">Return to Shop</a>
{% endblock %}